body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0C29;
    /* deep dark blue */
    font-family: 'Roboto', sans-serif;
    color: #ECE9E6;
    /* light gray */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
